/* ESTILOS SCROLLING */
body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 767px) {
    /* For tablets: */
    #imagenNosotros{
        background: url('../img/nosotros_responsive.jpg') no-repeat;
        height:170px;
        width:300px;
    }
    #imagenLogo{
        position:absolute;
        height:35px;
        width:165px;
        left:50px;
    }
    #eslogan{
        display:none;
    }
    .services-section {
        background: #ff0000;
        border-bottom: 3px solid #ffff00;
        padding-top: 90px;
    }
    #mapa{
        width:90%;
    }
    .eventos-section {
        background: #ff0000;
        border-bottom: 3px solid #ffff00;
        padding-top: 90px;
    }
    .promos-section {
        background: #ff0000;
        border-bottom: 3px solid #ffff00;
        padding-top: 90px;
    }
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    #mapa{
        width:640px;
        height:450px;
    }
    #imagenNosotros{
        background: url('../img/nosotros.jpg') no-repeat;
        height:341px;
        width:600px;
    }
    .services-section {
        background: #ff0000;
        border-bottom: 3px solid #ffff00;
        height: 99%;
        padding-top: 90px;
    }
    .eventos-section {
        background: #ff0000;
        border-bottom: 3px solid #ffff00;
        height: 99%;
        padding-top: 90px;
    }
    .promos-section {
        background: #ff0000;
        border-bottom: 3px solid #ffff00;
        height: 99%;
        padding-top: 90px;
    }
}
.navbar {
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
        padding: 0;
}

.intro-section {
    background: #ff0000;
    height: 55%;
}

.secciondosHome{
    height: 45%;
}

.about-section {
    background: #ff0000;
    border-bottom: 3px solid #ffff00;
    height: 99%;
    padding-top: 90px;
}

.contact-section {
    background: #fff;
    height: auto;
    padding-top: 90px;
    padding-left: 20px;
}
/*ESTILOS*/
html,
body {
    height: 100%;
}

.img-hover:hover {
    opacity: 0.8;
}

img-thumbnail {
    margin: 10px;
}

.contador {
    color: #ff0000;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 28px;
    border: 0;
    border-top: 1px solid #ff0000;
}

/* CARRUSEL */
header.carousel {
    height: 100%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
height: 100%;
} 

header.carousel .fill {
    background-size: cover;
    height: 100%;
    width: 100%;
}

/*MENU SUPERIOR*/
.navbar-default .navbar-nav>li>a {
    color: #ffff00;
}
.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-brand {
    height: 0%;
    margin-left: 10%;
    padding: 10px 10px;
}

.navbar-nav {
    margin-left: 5%;
    margin-top: 10px;
}

.glyphicon {
    font-size: 20px;
}

/*BANNERS*/
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    color: #ff0000;
    background-color: #ffff00;
    border-color: #ff0000;
}

.img_nosotros {
    margin-top: 8%;
    width: 60%;
    height: 60%;
}
.navbar-brand {
    font-size: 16px;
}

.navbar-brand>img {
    display: block;
    width: 220px;
}

.btn {
    padding: 6px 16px;
}

.btn-default {
    color: #ffff00;
    background-color: #ff0000;
    border-color: #ff0000;
    font-family: "Airstrike",sans-serif;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 1.5pt;
}

.panel-body {
    padding: 10px;
    text-align: center;
    margin-left: 52px;
}

/*ALINEACIÓN*/
.ml{
    margin-left: 10%;
}

.ml-70{
    margin-left:70px
}

.mt{
    margin-top: 3%;
}

.ta_left {
    text-align: left !important;
}

.tc{
    text-align: center;
}

/*TEXTOS*/
.h1, h1 {
    font-family: Airstrike;
    font-size: 36px;
    color: #ffff00
}
.h2, h2 {
    font-family: Airstrike;
    font-size: 36px;
    color: #ff0000;
}

.h3, h3 {
    color: #ff0000;
    font-family: "Airstrike",sans-serif;
    font-size: 24px;
    letter-spacing: 0.5pt;
    margin-top: 0px;
    margin-bottom: 20px;
}

.h4, h4 {
    color: #ff0000;
    letter-spacing: 0.5pt;
    text-align: left;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    color: #fff;
    font-family: "Arial",sans-serif;
    font-size: 17px;
    margin-left: 28px;
    text-align: justify;
}

#contactenos p {
    color: #000;
    font-family: "Arial",sans-serif;
    font-size: 15px;
    margin-left: 28px;
    text-align: justify;
}

.red {
    color: #ff0000;
}

.uppercase {
    text-transform: uppercase;
}

.font-bold {
    font-weight: 700;
}

.bold{
    font-weight: bold;
}

/* MARCAS */
.img-thumbnail-productos {
    margin: 10px;
}

.title-productos {
    color: #ffff00;
    font-family: "Airstrike",sans-serif;
    margin-left: 20px;
    text-align: center;
    text-transform: uppercase;
}

/* ESTILOS RESPONSIVOS */
@media(max-width:991px) {
    .customer-img,
    .img-related {
    margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    header.carousel .carousel {
    height: 70%;
    }
}